<section id="references">
    <div class="container mb-5">
        <mat-card>
            <mat-card-content>REFRENCES</mat-card-content>
          </mat-card>
        <span class="bar-title mb-5"></span>
        <div class="card shadow-lg  rounded pb-3" data-aos="fade-right" data-aos-delay="300" style="background-color:white;">
        <div class="row" style="margin-top: 10px;margin-left:10px ;">
            <div class="col-md-4 ">
                <div id="about" class="section">
                    <div class="container">
                     
                      <div class="image-container">
                        <img class="img" src="../../assets/Arunabout.jpg" alt="" style="width: 240px; height: 360px; border-radius: 5%; margin-top: 10px;">
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-8"> 

                <div class="reference">
                    <h2>Arun Kumar Pulapa</h2>
                    <p><strong>Title:</strong> Full Stack Developer</p>
                    <p><strong>Company:</strong> ADQ Services</p>
                    <p><strong>Email:</strong> Pulapaarunaa@gmail.com</p>
                    <blockquote>
                        <div class="row" style="margin-left: 10px;">
                            <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png" width="30" height="30" alt=""
                            style="background: transparent;">
                            <p class="link" style="margin-left: 20px;margin-top: 5px;cursor: pointer;"> <a rel="stylesheet" class="link" href="https://www.linkedin.com/in/arun-kumar-pulapa-1a332b204/">Arun Kumar pulapa .</a> </p>
                        </div>

                        <div class="row" style="margin-left: 10px;margin-top: 20px;background: transparent;">
                            <img src="https://img.freepik.com/premium-vector/vinnytsia-ukraine-april-27-2023-popular-social-media-icon-instagram-vector-design_545793-1681.jpg"  width="30" height="30" alt=""
                            style="background: transparent;border-radius: 20px;">
                            <p class="link" style="margin-left: 20px;margin-top: 5px;cursor: pointer;"> <a rel="stylesheet" class="link" href="https://instagram.com/arun_pulapa_12?utm_source=qr">Arun pulapa 12 ..</a> </p>
                        </div>

                        <div class="row" style="margin-left: 10px;margin-top: 20px;">
                            <img src="https://w7.pngwing.com/pngs/991/568/png-transparent-facebook-logo-computer-icons-facebook-logo-facebook-thumbnail.png" width="30" height="30" alt=""
                            style="background: transparent;border-radius: 50px;">
                            <p class="link" style="margin-left: 20px;margin-top: 5px;cursor: pointer;"> <a rel="stylesheet" class="link" href="https://www.facebook.com/profile.php?id=100005108327212&mibextid=LQQJ4d">Arun Kumar pulapa ...</a> </p>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>