<section id="home" style="background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--NzVGwVTS--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/t32xqlacj6ehpuz3ywpt.jpg);"  class="d-flex flex-column justify-content-center align-items-center">
 <div class="row">
  <div class="hero-container aos-init aos-animate" data-aos="fade-in">
    <h1 class="mt-3" style="font-size: 28px;font-weight: 600;letter-spacing: 2px;">ARUN KUMR PULAPA</h1>
    <p><span class="typed"></span> Developer</p>
</div>
<!-- <div style="margin-left: 250px;">
  <img src="https://scontent.fhyd2-2.fna.fbcdn.net/v/t39.30808-6/292448983_2070432943136963_5912122545413105380_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=9c7eae&_nc_ohc=ZZl5AZ2a3tAAX8BGfwO&_nc_ht=scontent.fhyd2-2.fna&oh=00_AfD19tFzemMqJQzsNV68hHSX3AOEWAljN3sSjsC9HN-ubQ&oe=65742A86" style="width: 150px;height: 150px;border-radius: 100px;" alt="">
</div> -->
 </div>
  
 
</section>
